@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #504e4d;
  width: 100vw;
  overflow-x: hidden;
  height: 100%;
  background: white;
  border-color: #504e4d;
  user-select: none;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: white;
  opacity: 0;
  transform:translateY(100px);
}

.grid-element {
  img {
    width: 100%;
    height: 100%;
    position: relative !important;
    object-fit:cover;
  }
}

.service-style-three .service-card {
  border-radius: 20px;
  -webkit-box-shadow: 0px 2px 20px -5px rgb(146 184 255 / 90%);
  box-shadow: 0px 2px 20px -5px rgb(255 255 255);
  overflow:hidden;
  -webkit-transition: .5s;
  transition: .5s;
  position:relative;
  margin-bottom: 30px;
}

.service-img {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  z-index:-1;
  height:100%;
  background-position:center center;
  background-size:cover;
}

.construction {
  background:url(/images/construction.jpg);
  background-position:center center;
  background-size:cover;
}

.fire-fighting {
  background:url(/images/fire-fighting.jpg);
  background-position:center center;
  background-size:cover;
}

.machinery {
  background:url(/images/machinery.jpg);
  background-position:center center;
  background-size:cover;
}


.electric {
  background:url(/images/electric.jpg);
  background-position:center center;
  background-size:cover;
}

.service-style-three .service-card:hover .service-content{
 background:rgba(0,0,0,0.4);
}

.service-content{
background-color: #f5f5f5;
padding: 40px 25px 30px 25px;
transition:all 1s ease;
}


.section-title {
  margin: auto;
  margin-bottom: 50px;
}

.service-style-three .service-card img {
  width: 45px;
  margin-bottom:19px;
  z-index: 0;
  position: relative;
  -webkit-transition: .5s;
  transition: .5s;
  display: inline-block;
  line-height:1;
}
.service-style-three .service-card h3 {
  font-size: 19px;
  font-weight: 600;
  margin-bottom: 10px;
  -webkit-transition: .5s;
  transition: .5s;
}


.service-style-three .service-card:hover .service-content img {
filter: invert(1);
}
.service-style-three .service-card:hover .service-content h3 {
 color:#fff;
}
.service-style-three .service-card:hover .service-content p {
 color:#fff;
}
.service-style-three .service-card:hover .service-content a {
 color:#fff;
}
.service-style-three .service-card:hover .service-content a:before {
 background-color:#fff;
}
.service-style-three .service-card p {
  margin-bottom: 10px;
  -webkit-transition: .5s;
  transition: .5s;
}
.service-style-three .service-card .service-btn {
  color: #1f1c0c;
  position: relative;
}
.service-style-three .service-card .service-btn::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 2px;
  bottom: -5px;
  background: #1f1c0c;
}

.service-style-three .service-card img:after {
  position: absolute;
  content: '';
  background: #ffea00;
  width: 45px;
  height: 45px;
  border-radius: 50px;
  right: -25px;
  top: -15px;
  z-index: -1;
  -webkit-transition: .5s;
  transition: .5s;
}

.facility {
  background: url(/images/crane.jpg);
  background-size: auto;
  background-position: center;
}

.rgba {
  background-color: rgba(0, 0, 0, 0.5);
}

.list-style {
  background-color: #ffea00;

}

.warehouse {
  background:url(/images/warehouse.jpg);
  background-position:center center;
  background-size:cover;
}

.new-plant {
  background:url(/images/new-plant.jpg);
  background-position:center center;
  background-size:cover;
}

.dormitory {
  background:url(/images/dormitory.jpg);
  background-position:center center;
  background-size:cover;
}

.hydrant {
  background:url(/images/hydrant.jpg);
  background-position:center center;
  background-size:cover;
}